/*elements*/
body {
    background-color: #5CDB95;
}

a {
    text-decoration: none;
    color: #05386B;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

/*ids*/
#header {
    background-color: #5CDB95;
    height: 650px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#abme {
    background-color: #5CDB95;
    height: 700px;
    width: 100%;
    padding-top: 20px;
    margin: 0;
}

#skills {
    background-color: #5CDB95;
    height: 700px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#projs {
    background-color: #5CDB95;
    height: 700px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#goals {
    background-color: #5CDB95;
    height: 700px;
    width: 100%;
    padding: 0;
    margin-bottom: 200px;
}

#work {
    background-color: #5CDB95;
    height: 1000px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#sections {
    margin: 0;
    padding: 0;
    width: 100%
}

#myBtn {
    display: none;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: #EDF5E1;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 25px;
}

#myBtn:hover {
    background-color: #8EE4AF;
}

/*classes*/
.name {
    width: 100%;
    margin: 0;
    padding: 0;
}

.circle1 {
    height: 70%;
    width: 35%;
    background-color: #05386B;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5%;
    margin-left: 7.5%;
    padding-right:0;
    margin-top: 0;
}

.circle1:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #EDF5E1;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0;
    padding: 0;
}

.smalldot {
    height: 2px;
    width: 2px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0;
    padding: 0;
}

.square1 {
    height: 600px;
    width: 80%;
    background-color: #05386B;
    margin-left: 10%;
}

.square1:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.box {
    height: 400px;
    width: 30%;
    background-color: #05386B;
    margin-left: 2.25%;
    display: inline-block;
}

.box:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.pic {
    padding-left: 5%;
}

.bigcircle {
    height: 100%;
    width: 50%;
    background-color: #05386B;
    border-radius: 50%;
    margin-left: 25%;
    padding-left: 0;
}

.bigcircle:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

.rectangle {
    height: 200px;
    width: 80%;
    background-color: #05386B;
    margin-left: 10%;
    margin-bottom: 50px;
}

.floating-menu {
    font-family: sans-serif;
    background: #379683;
    padding: 5px;;
    width: 130px;
    z-index: 100;
    position: fixed;
}
.floating-menu a,
.floating-menu h3 {
    font-size: 0.9em;
    display: inline-block;
    margin: 0 0.5em;
    color: #EDF5E1;
}
/*headers*/
h1 {
    padding-left: 15%;
    padding-top: 10%;
    font-size: 80px;
    color: #EDF5E1;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    margin-top: -2%;
    padding-top: 0;
    padding-left: 15%;
    font-size: 80px;
    color: #EDF5E1;
    padding-bottom: 0;
    margin-bottom: -2%;
}

h3 {
    padding-top: 35px;
    text-align: center;
    font-size: 40px;
    color: #EDF5E1;
}

h4 {
    font-size: 30px;
    color: #EDF5E1;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

h5 {
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: #EDF5E1;
    padding-bottom: 0;
    margin-bottom: 0;
}

h6 {
    font-size: 30px;
    color: #EDF5E1;
    text-align: center;
    padding-left: 10px;
}

/*paragraphs*/
p1 {
    padding-left: 15%;
    color: #EDF5E1;
    font-size: 25px;
    padding-right: 0;
    margin-right: 0;
}

p2 {
    color: #EDF5E1;
    font-size: 20px;
    position: relative;
    top: 33%;
    left: 3%;
}
p3 {
    color: #EDF5E1;
    font-size: 20px;
    position: relative;
    top: 33%;
    left: 3%;
}

p3 p4 {
    font-size: 10px;
    visibility: hidden;
    width: 120px;
    background-color: #379683;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

p3:hover p4 {
    visibility: visible;
}


p5 {
    color: #EDF5E1;
    font-size: 15px;
    margin-left: 5px;
}

p6 {
    color: #EDF5E1;
    font-size: 20px;
    padding-left: 10px;
}


