.condensed {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.regular {
    font-family: 'Fira Sans', sans-serif;
}

.gh {
    background-image:url('Images/github-mark.png');
}

.ghw {
    background-image:url('Images/github-mark-white.png');
}

.li {
    background-image:url('Images/linkedin-icon-1-logo-png-transparent.png');
}

.extra {
    display:grid;grid-template-columns:1fr 1fr 1fr;grid-template-rows:100px;
}

#myBtn {
    background-color: lightgreen;
    display: none;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 25px;
}
